.hero {
  position: relative;
  margin-bottom: 18rem;
  @media (max-width: 48em) {
    .about-company-page & {
      margin-bottom: 28rem;
    }
  }

  // .hero__container

  &__container {
    position: relative;
    z-index: 2;
    display: grid;
    height: 100%;
    &::before {
      @extend %line;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.2);
    }
    .mainpage & {
      &::before {
        display: none;
      }
    }
    @media (max-width: 48em) {
      padding: 22.7rem 3.2rem 6.4rem 3.2rem;
      row-gap: 26.2rem;
      .projects-page & {
        padding: 81.4rem 3.2rem 0 3.2rem;
        row-gap: normal;
      }
      .about-company-page & {
        padding: 0;
        row-gap: normal;
        height: auto;
        &::before {
          display: none;
        }
      }
    }
    @media (min-width: 48em) {
      grid-template-columns: 6fr 5fr;
      .about-company-page & {
        grid-template-columns: 62.2rem 1fr;
      }
    }
  }

  // .hero__sidebar

  &__sidebar {
  }

  // .hero__body

  &__body {
    @media (min-width: 48em) {
      grid-column: 2/3;
      min-height: 100rem;
    }
  }

  // .hero__text-wrap

  &__text-wrap {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    .about-company-page & {
      padding-top: 39.8rem;
      justify-content: flex-start;
    }
    &::before,
    &::after {
      @extend %line;
      top: 0;
      background-color: rgba(255, 255, 255, 0.2);
      .scroll-trigger & {
        transform: scaleY(var(--scaleY));
      }
    }
    &::before {
      left: 0;
    }
    &::after {
      right: -2.5rem;
      .about-company-page & {
        right: 0;
      }
    }
    @media (min-width: 48em) {
      padding: 5rem 0 8.8rem 3rem;
    }
    @media (max-width: 48em) {
      .projects-page & {
        margin-bottom: 26rem;
        justify-content: flex-start;
        height: auto;
      }
      .about-company-page & {
        padding: 0 3.2rem;
      }
      &::before,
      &::after {
        display: none;
      }
    }
  }

  // .hero__title

  &__title {
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    .about-company-page & {
      position: relative;
      margin-bottom: 4rem;
      flex-direction: row;
      column-gap: 1rem;
      &::after {
        @extend %line;
        left: -49.7rem;
        bottom: -1.4rem;
        width: 192rem;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
      .about-company-page & {
        margin-bottom: 5rem;
        column-gap: 2rem;
        &::after {
          display: none;
        }
      }
    }
  }

  // .hero__title-txt

  &__title-txt {
  }

  // .hero__text

  &__text {
    margin-bottom: 3.2rem;
    .about-company-page & {
      max-width: 37.5rem;
    }
    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
      max-width: 57.8rem;
      .about-company-page & {
        margin-bottom: 10rem;
        max-width: 61.5rem;
      }
    }
  }

  // .hero__btn

  &__btn {
    align-self: flex-start;
  }

  // .hero__facts

  &__facts {
    @media (max-width: 48em) {
      order: -1;
    }
    @media (min-width: 48em) {
      padding-top: 5rem;
    }
  }

  // .hero__slider

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 0;
    &.swiper {
      overflow: visible;
    }
  }

  // .hero__slide

  &__slide {
    position: relative;
    .hero__slide-text {
      display: none;
    }
    &.swiper-slide {
      opacity: 0 !important;
      visibility: hidden !important;
    }
    &.swiper-slide-active {
      opacity: 1 !important;
      visibility: visible !important;
    }
    @media (max-width: 48em) {
      padding: 65rem 0 6.4rem 0;
      .hero__text-wrap {
        position: relative;
        z-index: 2;
        margin-bottom: 26rem;
        justify-content: flex-start;
        height: auto;
      }
    }
  }

  // .hero__video-wrap

  &__video-wrap,
  &__bg-image {
    z-index: -1;
    top: 0;
    width: 192rem;
    height: 100%;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
          70deg,
          rgba(46, 46, 46, 0.2) 20.45%,
          rgba(0, 0, 0, 0) 63.6%
        ),
        linear-gradient(
          0deg,
          rgba(70, 74, 80, 0.2) 0%,
          rgba(70, 74, 80, 0.2) 100%
        );
    }
    @media (max-width: 48em) {
      left: 0;
    }
  }

  &__video-wrap {
    position: absolute;
    left: 0;
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .hero__bg-image

  &__bg-image {
    position: absolute;
    left: calc((192rem - 145.6rem + 15rem) / -2);
    display: flex;
    .about-company-page & {
      left: 0;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            70deg,
            rgba(46, 46, 46, 0.2) 20.45%,
            rgba(0, 0, 0, 0) 63.6%
          ),
          linear-gradient(
            0deg,
            rgba(70, 74, 80, 0.2) 0%,
            rgba(70, 74, 80, 0.2) 100%
          ),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
      }
    }
    picture {
      display: flex;
      width: 100%;
    }
    @media (max-width: 48em) {
      top: -16.4rem;
      left: -3.2rem;
      width: calc(100% + 6.4rem);
      height: calc(16.4rem + 100%);
      .about-company-page & {
        position: relative;
        margin-bottom: 3.2rem;
        height: 92.4rem;
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
      }
    }
  }

  // .hero__image

  &__image {
    object-fit: cover;
  }

  // .hero__slider-control

  &__slider-control {
    z-index: 2;
    padding-top: 5rem;
    padding-bottom: 18.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    .hero__text {
      margin-bottom: 37.8rem;
      max-width: 23.5rem;
      text-align: right;
    }
    @media (min-width: 48em) {
      padding-left: 2.5rem;
    }
    @media (max-width: 48em) {
      position: static;
      padding: 0;
      display: block;
      width: 0;
      height: 0;
      .hero__text {
        position: absolute;
        top: 22.8rem;
        right: 3.2rem;
        margin: 0;
        max-width: 35.4rem;
      }
    }
  }

  // .hero__slider-nav

  &__slider-nav {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
  }

  // .hero__slide-text

  &__slide-text {
    span {
      display: block;
    }
  }

  // .hero__slider-nav-wrap

  &__slider-nav-wrap {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    @media (min-width: 48em) {
      margin-bottom: 27rem;
    }
    @media (max-width: 48em) {
      position: absolute;
      left: 3.2rem;
      right: 3.2rem;
      bottom: 6.4rem;
      flex-direction: row-reverse;
      justify-content: space-between;
      column-gap: 0.8rem;
    }
  }

  // .hero__slider-fraction

  &__slider-fraction {
    @media (max-width: 48em) {
      position: absolute;
      right: 3.2rem;
      bottom: 18rem;
    }
  }

  // .hero__info

  &__info {
    position: relative;
    padding-top: 41.6rem;
    padding-right: 10rem;
    display: inline-flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: flex-end;
    text-align: right;
    @media (max-width: 48em) {
      padding: 0 10.2rem 0 0;
    }
  }

  // .hero__info-ellipse

  &__info-ellipse {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    width: 26.9rem;
    height: 26.9rem;
    transform: translateY(-50%);
    @media (max-width: 48em) {
      right: 3.2rem;
      width: 37.4rem;
      height: 37.4rem;
    }
  }

  // .hero__info-txt

  &__info-txt {
    margin-bottom: 5.5rem;
    max-width: 23.2rem;
    &::after {
      @extend %line;
      right: -10.2rem;
      bottom: -3.2rem;
      display: none;
      width: 100vw;
      height: 1px;
    }
    @media (max-width: 48em) {
      position: relative;
      margin-bottom: 6.4rem;
      max-width: 46.2rem;
      &::after {
        display: inline-block;
      }
    }
  }
}

// --------------------------------------------------------------------------

.facts-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: start;
  justify-self: end;
  row-gap: 4.8rem;
  @media (max-width: 48em) {
    row-gap: 6.4rem;
  }

  // .facts-hero__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 0.8rem;
    text-align: right;
  }

  // .facts-hero__heading

  &__heading {
    font-family: Assistant;
    @media (max-width: 48em) {
      font-size: 4rem;
    }
  }

  // .facts-hero__text

  &__text {
    letter-spacing: 0.05rem;
    color: #9a9a9a;
    @media (max-width: 48em) {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
