.privileges {
  margin-bottom: 18rem;

  // .privileges__container

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    &::before {
      @extend %line;
      top: -18rem;
      height: calc(100% + 18rem - 2px);
      .scroll-trigger & {
        transform: scaleY(var(--scaleY));
      }
    }
    &::after {
      @extend %line;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 161rem;
      .scroll-trigger & {
        transform: scaleX(var(--scaleX));
      }
    }
    @media (min-width: 48em) {
      grid-column: 2/3;
    }
    @media (max-width: 48em) {
      &::before {
        display: none;
      }
    }
  }

  // .privileges__head

  &__head {
    position: relative;
    padding-left: 3rem;
    padding-bottom: 2.4rem;
    &::after {
      @extend %line;
      bottom: 0;
      left: 2px;
      width: 161rem;
      height: 2px;
      .scroll-trigger & {
        transform: scaleX(var(--scaleX));
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
      padding-left: 0;
      padding-bottom: 3.2rem;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      &::after {
        display: none;
      }
    }
  }

  // .privileges__title

  &__title {
    @media (max-width: 48em) {
      display: block;
      max-width: 50rem;
    }
  }

  // .privileges__body

  &__body {
    display: grid;
    @media (min-width: 48em) {
      grid-template-columns: 4fr 7fr;
    }
  }

  // .privileges__image-wrap

  &__image-wrap {
    &::after {
      @extend %line;
      top: 0;
      right: 0;
      .scroll-trigger & {
        transform: scaleY(var(--scaleY));
      }
    }
    @media (min-width: 48em) {
      position: relative;
      padding: 3.6rem 3rem;
    }
    @media (max-width: 48em) {
      padding-bottom: 3.2rem;
      height: 37rem;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      &::after {
        display: none;
      }
    }
  }

  // .privileges__image

  &__image,
  &__card-image {
    height: 100%;
    object-fit: cover;
  }

  // .privileges__cards

  &__cards {
    position: relative;
    display: grid;
    &::after {
      @extend %line;
      top: 0;
      right: 50%;
      width: 2px;
      .scroll-trigger & {
        transform: scaleY(var(--scaleY));
      }
    }
  }

  // .privileges__row

  &__row {
    position: relative;
    display: grid;
    &:not(:last-child) {
      &::after {
        @extend %line;
        bottom: 0;
        left: 0;
        width: calc(50% - 2px);
        height: 2px;
        .scroll-trigger & {
          transform: scaleX(var(--scaleX));
        }
      }
    }
    @media (min-width: 48em) {
      grid-template-columns: repeat(2, 50%);
    }
  }

  // .privileges__card

  &__card {
    position: relative;
    justify-content: center;
    height: 100%;
    &_text {
      display: flex;
      flex-direction: column;
      align-self: center;
      @media (min-width: 48em) {
        padding: 10.4rem 3rem;
      }
    }
    @media (max-width: 48em) {
      padding: 3.2rem 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      &::before,
      &::after {
        display: none;
      }
    }

    // .privileges__card_img

    &_img {
      width: calc(100% + ((192rem - 145.6rem) / 2));
      height: 34.7rem;
      transform: translateY(-2px);
      @media (max-width: 48em) {
        display: none;
      }
    }
  }

  // .privileges__heading

  &__heading {
    margin-bottom: 2.4rem;
    @media (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  // .privileges__text

  &__text {
    @media (min-width: 48em) {
      max-width: 32.4rem;
    }
  }
}
