.ymaps3x0--main-engine-container {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.marker {
  position: relative;
  box-sizing: border-box;
  width: 8.2rem;
  transform: translate(-50%, calc(-50% - 24px));
  cursor: pointer;
  @media (max-width: 48em) {
    width: 10rem;
  }
}
