body::before {
  content: '';
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: $black;
  pointer-events: none;
  transition: opacity 0.8s ease 0s;
  @media (min-width: 48em) {
    background: rgba(106, 106, 106, 0.2);
    backdrop-filter: blur(1.9rem);
  }
}
.popup-show body::before {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 3rem 1rem;
  display: none;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.8s ease 0s;
  ._loaded & {
    display: block;
  }
  &.request-modal {
    @media (max-width: 48em) {
      padding: 0;
    }
  }
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  min-height: 100%;
  width: 100%;
}
.popup__content {
  padding: 2rem;
  width: 100%;
  max-width: 127.8rem;
  background-color: #242424;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  .lock & {
    visibility: visible;
  }
  .request-modal & {
    padding: 0;
    display: grid;
    @media (min-width: 48em) {
      grid-template-columns: 59.9rem 1fr;
    }
  }
}

// --------------------------------------------------------------------------

.request-modal {
  @media (max-width: 48em) {
    .popup__wrapper {
      justify-content: stretch;
    }
    .popup__content {
      flex: 1 1 auto;
    }
  }

  // .request-modal__image-wrap

  &__image-wrap {
    @media (max-width: 48em) {
      margin-bottom: 6.3rem;
      width: 100%;
      height: 46rem;
    }
  }

  // .request-modal__image

  &__image {
    height: 100%;
    object-fit: cover;
  }

  // .request-modal__body

  &__body {
    padding: 2.5rem 2.5rem 9.7rem 8rem;
    display: flex;
    flex-direction: column;
    @media (max-width: 48em) {
      padding: 5rem 0 21.4rem 0;
      .request-modal_sent & {
        align-items: center;
        text-align: center;
      }
    }
    @media (min-width: 48em) {
      .request-modal_sent & {
        padding: 2.5rem 2.5rem 23.6rem 8rem;
      }
    }
  }

  // .request-modal__close-btn

  &__close-btn {
    margin-bottom: 4.9rem;
    width: 3rem;
    height: 3rem;
    align-self: flex-end;
    @media (max-width: 48em) {
      margin-bottom: 11rem;
      width: 5rem;
      height: 5rem;
      transform: translateX(-3.2rem);
    }
    @media (min-width: 48em) {
      .request-modal_sent & {
        margin-bottom: 18.8rem;
      }
    }
  }

  // .request-modal__title

  &__title {
    margin-bottom: 3.2rem;
    @media (max-width: 48em) {
      padding: 0 3.2rem;
    }
    @media (min-width: 48em) {
      .request-modal_sent & {
        max-width: 53.3rem;
      }
    }
  }

  // .request-modal__text

  &__text {
    margin-bottom: 6rem;
    .request-modal_sent & {
      margin-bottom: 3.2rem;
    }
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      padding: 0 3.2rem;
      max-width: 58.2rem;
    }
  }

  // .request-modal__form

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 48em) {
      padding: 0 3.2rem;
    }
  }

  // .request-modal__fields

  &__fields {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    width: 50rem;
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      row-gap: 5rem;
      width: 100%;
    }
  }

  // .request-modal__input

  &__input {
  }

  // .request-modal__actions

  &__actions {
    @media (max-width: 48em) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 2rem;
    }
  }

  // .request-modal__checkbox

  &__checkbox {
    @media (min-width: 48em) {
      margin-bottom: 5.6rem;
    }
  }

  // .request-modal__btn

  &__btn {
    min-width: 15.3rem;
    @media (max-width: 48em) {
      min-width: 24.6rem;
    }
    @media (min-width: 48em) {
      align-self: flex-start;
    }
  }
}
