<footer class="footer grid">
  <div class="footer__container container">
    <div class="footer__row footer__row_upper">
      <div class="footer__contacts">
        <a href="tel:+79999999999" class="footer__tel tl1 reg"
          >+7 999 999 - 99 - 99</a
        >
        <a href="mailto:forexample@.com" class="footer__mail txt reg"
          >forexample@.com</a
        >
      </div>
      <ul data-da=".footer__container,768,last" class="footer__socials">
        <li class="footer__socials-item">
          <a href="#" target="_blank" class="footer__socials-link"
            ><img
              src="./assets/images/icons/ig.svg"
              alt=""
              class="footer__socials-icon"
          /></a>
        </li>
        <li class="footer__socials-item">
          <a href="#" target="_blank" class="footer__socials-link"
            ><img
              src="./assets/images/icons/yt.svg"
              alt=""
              class="footer__socials-icon"
          /></a>
        </li>
        <li class="footer__socials-item">
          <a href="#" target="_blank" class="footer__socials-link"
            ><img
              src="./assets/images/icons/tg.svg"
              alt=""
              class="footer__socials-icon"
          /></a>
        </li>
      </ul>
    </div>
    <div class="footer__row footer__row_lower">
      <div class="footer__address">
        <span class="footer__address-heading tl2">руна</span>
        <p class="footer__address-text txt txt_18">
          г. Москва, ул. Нижняя Сыромятническая, дом 10, стр. 2А
        </p>
      </div>
      <nav class="footer__navigation">
        <ul class="footer__navigation-list">
          <li class="footer__navigation-item">
            <a href="#" class="footer__navigation-link">о нас</a>
          </li>
          <li class="footer__navigation-item">
            <a href="#" class="footer__navigation-link">проекты</a>
          </li>
          <li class="footer__navigation-item">
            <a href="#" class="footer__navigation-link">портфолио</a>
          </li>
          <li class="footer__navigation-item">
            <a href="#" class="footer__navigation-link">контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
