body {
  position: relative;
  &::after {
    content: '';
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4rem);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  @media (max-width: 48em) {
    .menu-open & {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// -------------------------------- elements --------------------------------

// sidebar
.sidebar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: auto;
  padding: 3.6rem 2.3rem 9rem 2.3rem;
  height: 100%;
  background-color: rgba(106, 106, 106, 0.2);
  backdrop-filter: blur(1.9rem);
  @media (max-width: 48em) {
    padding: 4rem 0;
    left: 0;
    width: 100%;
    height: 16.4rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4.6rem);
    transition: all 0.3s ease;
    .menu-open & {
      background-color: transparent;
      backdrop-filter: blur(0);
    }
  }
  @media (min-width: 48em) {
    position: fixed;
    width: 15rem;
    transition: width 0.4s ease;
    .menu-open & {
      width: 30.7rem;
    }
  }

  // .sidebar__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @media (min-width: 48em) {
      flex-direction: column;
    }
    @media (max-width: 48em) {
      padding: 0 3.2rem;
    }
  }

  // .sidebar__logo-wrap

  &__logo-wrap {
    width: 10.4rem;
    @media (max-width: 48em) {
      position: relative;
      z-index: 105;
      width: 13.6rem;
    }
    @media (min-width: 48em) {
      margin-bottom: 8.6rem;
    }
  }

  // .sidebar__logo

  &__logo {
    object-fit: contain;
  }

  // .sidebar__menu

  &__menu {
  }
  // .sidebar__socials

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.9rem;
    @media (max-width: 48em) {
      flex-direction: row;
      column-gap: 5rem;
    }
  }

  // .sidebar__socials-item

  &__socials-item {
    @media (min-width: 48em) {
      &._mobile-only {
        display: none;
      }
    }
  }

  // .sidebar__socials-link

  &__socials-link {
    display: inline-block;
    width: 3.2rem;
    @media (max-width: 48em) {
      width: 6rem;
    }
  }

  // .sidebar__socials-icon

  &__socials-icon {
    object-fit: contain;
  }

  // .sidebar__tel

  &__tel {
    font-family: Assistant;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: all 0.4 ease;
    .menu-open & {
      opacity: 1;
      visibility: visible;
    }
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      &.txt {
        font-size: 6rem;
        font-weight: 700;
      }
    }
  }
}

// hamburger
.hamburger {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.6rem;
  width: 3.4rem;
  &::before,
  &::after {
    content: '';
  }
  &::before,
  &::after,
  span {
    width: 100%;
    height: 0.2rem;
    background-color: $white;
  }
  span {
    transform: scalex(0.7);
    transition: transform 0.4s ease;
  }
  @media (max-width: 48em) {
    row-gap: 1.2rem;
    width: 6.5rem;
    &::before,
    &::after,
    span {
      height: 0.4rem;
      transition: all 0.3s ease;
    }
    .menu-open & {
      position: absolute;
      &::before,
      &::after,
      span {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

// menu
.menu {
  position: relative;
  @media (min-width: 48em) {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  // .menu__hamburger-wrap

  &__hamburger-wrap {
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        .hamburger {
          span {
            transform: scalex(1);
          }
        }
      }
    }
    @media (max-width: 48em) {
      position: relative;
      z-index: 105;
      display: flex;
      align-items: center;
      &::after {
        content: '';
        position: absolute;
        width: 6.5rem;
        height: 6.5rem;
        background-image: url(@img/icons/cross.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
      .menu-open & {
        &::after {
          position: static;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media (min-width: 48em) {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.6rem;
      transform: translate(-50%, -50%);
      .menu-open & {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  // .menu__hamburger

  &__hamburger {
  }

  // .menu__hamburger-txt

  &__hamburger-txt {
    text-transform: uppercase;
    color: $white;
  }

  // .menu__body

  &__body {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    @media (max-width: 48em) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 40rem;
      padding-bottom: 12rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      overflow: auto;
    }
    .menu-open & {
      opacity: 1;
      visibility: visible;
    }
  }

  // .menu__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.8rem;
    text-align: center;
    @media (max-width: 48em) {
      margin-bottom: auto;
      row-gap: 6.4rem;
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    position: relative;
    text-transform: uppercase;
    &::after {
      content: '';
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $white;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: center;
      transition: all 0.5s ease;
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          opacity: 1;
          transform: scaleX(1);
        }
      }
    }
    @media (max-width: 48em) {
      font-size: 4rem;
    }
  }
}

// slider nav btn
.nav-btn {
  flex: 0 0 6rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  svg {
    width: 6rem;
    height: 6rem;
    transition: fill 0.4s ease;
    path {
      transition: stroke 0.4s ease;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      svg {
        fill: $white;
        path {
          stroke: $black;
        }
      }
    }
  }
  @media (max-width: 48em) {
    flex: 0 0 8rem;
    width: 8rem;
    height: 8rem;
    svg {
      width: 8rem;
      height: 8rem;
    }
  }
}

// slider fraction
.sl-fraction {
  display: flex;
  align-items: center;
  column-gap: 5rem;

  // .sl-fraction__progress

  &__progress {
    display: none;
    @media (min-width: 48em) {
      position: relative;
      display: block;
      flex: 0 0 36.8rem;
      width: 36.8rem;
      height: 2px;
      background-color: rgb(255, 255, 255, 0.6);
      --progress: 0;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        top: 0;
        left: 0;
        background-color: $white;
        transform-origin: left;
        transform: scaleX(var(--progress));
      }
    }
  }

  // .sl-fraction__content

  &__content {
  }
}

// tab
.tab {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  &._active {
    .tab__text {
      background-color: rgba(255, 255, 255, 0.2);
      &::after {
        opacity: 0;
      }
    }
  }
  @media (max-width: 48em) {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    &_fc {
      border-left: 2px solid rgba(255, 255, 255, 0.2);
    }
  }

  // .tab__text

  &__text {
    position: relative;
    padding: 3.2rem 3.8rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &::after {
      @extend %line;
      top: 0;
      right: 0;
      height: 100%;
      transition: opacity 0.3s ease;
    }
    @media (max-width: 48em) {
      padding: 2.8rem 4rem;
      &::after {
        display: none;
      }
      &.txt {
        font-size: 2.8rem;
      }
    }
  }
}

// -------------------------------- keyframes -------------------------------

// ------------------------------- typography -------------------------------

// tl1
.tl1 {
  font-size: 5.4rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 130%;
  @media (max-width: 48em) {
    font-size: 6rem;
  }
}

// tl2
.tl2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 0.1rem;
  @media (max-width: 48em) {
    font-size: 4.2rem;
  }
}

// tl3
.tl3 {
  font-size: 2.6rem;
  font-weight: 600;
  @media (max-width: 48em) {
    font-size: 4rem;
  }
}

// reg
.reg {
  font-weight: 400;
}

// txt
.txt {
  font-family: Gilroy;
  line-height: 130%;
  @media (max-width: 48em) {
    font-size: 3.2rem;
  }

  // .txt_16

  &_16 {
    font-size: 1.6rem;
    @media (max-width: 48em) {
      font-size: 3.2rem;
    }
  }

  // .txt_18

  &_18 {
    font-size: 1.8rem;
    @media (max-width: 48em) {
      font-size: 3.2rem;
    }
  }
}

// --------------------------------------------------------------------------

.grid {
  display: grid;
  @media (min-width: 48em) {
    grid-template-columns: 15rem 1fr;
  }
}

.desktop-only {
  @media (max-width: 48em) {
    display: none;
  }
}
