// sass math
@use 'sass:math';

// mixins
@import 'base/mixins';

// fonts =======================================================================

// &display=swap
@import url('https://fonts.googleapis.com/css?family=Assistant:regular,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One:regular&display=swap');

// local fonts
@import 'fonts/fonts';

// variables ===================================================================

// main colors
$black: #1a1a1a;
$bg: #242424;
$grey: #9a9a9a;
$white: #ffffff;

// base styles file ============================================================
@import 'base/set.scss';

// base styles =================================================================

body {
  // scroll is blocked
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // site is loaded
  .loaded & {
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 192rem;
  margin: 0 auto;
  overflow: hidden;
  &::before {
    @extend %line;
    z-index: 5;
    left: 0;
    top: 0;
  }
  &::after {
    @extend %line;
    z-index: 5;
    right: 0;
    top: 0;
  }
  @media (max-width: 120em) {
    &::before,
    &::after {
      display: none;
    }
  }
  @media (max-width: 48em) {
    width: 100%;
  }
  // press footer
  > main {
    flex: 1 1 auto;
  }
  // fix for sliders
  > * {
    min-width: 0;
  }
}

// base styles, templates (patterns), special classes ==========================

// base styles
@import 'base';

// common styles
@import 'common';

// header & footer
@import 'header';
@import 'footer';

// sections
@import 'sections/hero';
@import 'sections/about-company';
@import 'sections/services';
@import 'sections/privileges';
@import 'sections/team';
@import 'sections/request';
@import 'sections/our-team';
